{% extends "base.html" %}

{% block title %}Login :: Sherlock{% endblock %}


{% block content %}

<div class="row">
    <div class="span8">
        <form class="form-horizontal" action="/accounts/login/" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Log in to Sherlock</legend>
                {{errors}}
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="username" name="username">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" class="input-xlarge" id="password" name="password">
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}